<%- include('../partials/head'); %>

<p>Etiquetas</p>

<div>
<% for(let i=0; i < tags.length; i++) { %>
    <% 
    const tag = tags[i];
    if (i>0) { -%>
    <hr />
    <% } -%>
    <div>
        <a href="/tags/<%= tag.id %>">
            <%= tag.name -%> (<%= tag.notes.length -%>)
        </a>
    </div>
<% } %>
</div>

<%- include('../partials/footer'); %>