<%- include('../partials/head'); %>

<p id="welcome-p">Bem-vindo!</p>

<% for(let i=0; i < notes.length; i++) { %>
    <% 
    const note = notes[i];
    if (i>0) { -%>
    <hr />
    <% } -%>
    <h1>título: <%= note.title %></h1>
    <%- include('./_card', {note}); -%>

    <ul class="nav_links">
        <li>
            <a href="/<%= note.id %>">
                Ver mais
            </a>
        </li>
        <li>
            <a href="/<%= note.id %>/edit">
                Editar
            </a>
        </li>
        <li>
            <a href="#">
                Excluir
            </a>
        </li>
    </ul>
 <% } %>
 

<%- include('../partials/footer'); %>