<!DOCTYPE html>
<html>
  <head>
    <title><%- include('partials/showTitleOrFixed'); %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/nav'); %>
    <h1><%- include('partials/showTitleOrFixed'); %></h1>
    <p id="welcome-p">Bem-vindo!</p>
    <% for(let i=0; i < notes.length; i++) { -%> 
      <h4><%= notes[i].title -%>
        <ul class="nav_links">
          <li>
              <a href="/<%= notes[i].id %>">
                  Ver mais
              </a>
          </li>
          <li>
              <a href="/<%= notes[i].id %>/edit">
                  Editar
              </a>
          </li>
          <li>
              <a href="#">
                  Excluir
              </a>
          </li>
        </ul>
      </h4>
    <% } -%>
    
  </body>
</html>
